body{
	font-family: 'Verdana', 'Times New Roman';
    background-color: #000000;
    margin: 25px 25px 0;
}

h1{
	font-size: 48px; 
	padding: 15px;
    text-align: center;
}

h2{
	font-size: 32px; 
	text-shadow: 2px 4px #808080;
}

p{
    font-size: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 15px;
}

img{
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #ffffff;
}

div h2{
    min-height: 100px;
    max-height: auto;
    padding: 20px;
    border: 3px solid #ffffff;
}

div #intro{
    border-radius: 15px;
    margin-top: 15px;
}